.category {
  border: 2px solid;
  padding: 1rem;
  margin-bottom: 10px;
  box-shadow: 1px 7px 7px -4px rgba(66, 18, 18, 0.85);
  -webkit-box-shadow: 1px 7px 7px -4px rgba(66, 18, 18, 0.85);
  -moz-box-shadow: 1px 7px 7px -4px rgba(66, 18, 18, 0.85);
}
